#### **Libraries and modules**

In [1]:
import pandas as pd
import utils

#### **Data collection**

In [ ]:
# Data collection
fifa = utils.fetch_with_backoff("https://www.transfermarkt.es/statistik/weltrangliste")
pib = utils.fetch_with_backoff("https://raw.githubusercontent.com/datasets/gdp/master/data/gdp.csv")

#### **Data wrangling**

In [5]:
df = utils.data_wrangling()
df.head()

,Year,Position,Country_ESP,Confederation,Points,iso3,Country_ENG,Value,Value_EUR,Value_EUR_billions
0,1992,1,Alemania,UEFA,57,DEU,Germany,2.131572e+12,1.982362e+12,1982.361678
1,1992,2,Italia,UEFA,57,ITA,Italy,1.320162e+12,1.227750e+12,1227.750330
2,1992,3,Brasil,CONMEBOL,56,BRA,Brazil,3.281919e+11,3.052185e+11,305.218476
3,1992,4,Suecia,UEFA,56,SWE,Sweden,2.843211e+11,2.644186e+11,264.418638
4,1992,5,Inglaterra,UEFA,55,GBR,United Kingdom,1.179660e+12,1.097083e+12,1097.083363